@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: rgb(228, 236, 241);
}
section.menu{
    padding: 5em 0;
    .title{
        text-align: center;
        h2{
            font-size: 2.5rem;
            text-transform: capitalize;
            color: rgb(24, 28, 87);
        }
        .underline{
            border-bottom: 3px solid #c59d5f;
            width: 8rem;
            height: 1.25rem;
            margin: 0 auto 2em auto;
        }
    }
    .btn-container{
        text-align: center;
        margin: 4em 0;
        .filter-btn{
            font-size: 1rem;
            margin: 0 1em;
            padding: 0.5em 1em;
            border-radius: 10px;
            border: 2px solid burlywood;    
            text-transform: capitalize;
            cursor: pointer;
        }
    }
    .section-center{
        max-width: 1200px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 23px;
        .menu-item{
            width: 49%;
            display: flex;
            justify-content: space-between;
            img{
                width: 47%;
                border: 5px solid burlywood;
                border-radius: 15px;
            }
            .item-info{
                width: 50%;
                header{
                    display: flex;
                    justify-content: space-between;
                    h4{
                        font-size: 1.15rem;
                        font-weight: 700;
                        text-transform: capitalize;
                        letter-spacing: 1px;
                        color: rgb(3, 3, 30)
                    }
                    .price{
                        letter-spacing: 2px;
                        color: #8d5707;
                    }
                }
                hr{
                    margin: 0.5em 0;
                }
                .item-text{
                    font-size: 0.9rem;
                    letter-spacing: 1.2px;
                    line-height: 20px;
                    color: rgb(105, 102, 102);
                    margin: 1em 0;
                }
            }
        }
    }
}